.contenedor {
  background-color: rgb(10, 12, 40);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.video-fondo {
  opacity: 15%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contLineas {
  position: absolute;
  object-fit: cover;
  width: 75rem;
  z-index: 1;
}

.linea1 {
  /* border-bottom: 1rem solid #ffffff; */
  background-color: white;
  width: 15rem;
  height: 1em;
  border-radius: 0.5rem 0rem 1rem 0rem;
  /* border-left: 1px solid #ffffff; */
}

.linea2 {
  /* border-left: 1rem solid #ffffff;
    height: 15rem;
    width: 0%; */
  background-color: white;
  width: 1rem;
  height: 15em;
  border-radius: 0rem 0rem 1rem 0rem;
}

.linea3 {
  /* border-right: 1rem solid #ffffff;
    height: 15rem; */
  background-color: white;
  width: 1rem;
  height: 15em;
  margin-left: 15rem;
  border-radius: 1rem 0rem 0rem 0rem;
}
.contLinea3-4 {
  align-items: end;
  justify-content: end;
  margin-left: 59rem;
  padding-top: 4rem;
}

.linea4 {
  background-color: white;
  width: 16rem;
  height: 1em;
  text-align: end;
  border-radius: 1rem 0rem 0.5rem 0rem;
}

.contTextos {
  position: absolute;
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 65rem;
  height: 30rem;
  z-index: 2;
}

.contLinParr {
  display: flex;
  flex-direction: row;
}

.texto1 {
  color: rgb(255, 255, 255);
  font-size: 400%;
  font-family: monospace;
  margin-top: -2rem;
  text-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0);
}

.lineaParrafo {
  background-color: white;
  width: 0.4rem;
  height: 8rem;
  margin-top: 12rem;
  border-radius: 0rem 1rem 1rem 0rem;
}

.parrafo {
  display: flex;
  width: 65rem;
  text-align: justify;
  flex-direction: row;
  height: 25rem;
  font-weight: 500;
}

.contFoto {
  display: flex;
  justify-content: center;
  width: 65rem;
  margin-top: -5rem;
  margin-bottom: -11rem;
}

.foto {
  width: 15rem;
  z-index: 1;
}

.texto2 {
  width: 40rem;
  color: rgb(255, 255, 255);
  font-size: 120%;
  font-family: monospace;
  padding-top: 11rem;
  padding-left: 1rem;
  text-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0);
}

.proyectos {
  display: flex;
  width: 20rem;
  flex-direction: column;
  justify-content: end;
  margin-left: 10rem;
  height: 15rem;
}

.tituloProyectos {
  color: white;
  font-family: monospace;
  font-size: 200%;
  text-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0);
}

.textoProyectos {
  color: white;
  font-family: monospace;
  font-size: 120%;
  text-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0);
  text-decoration: underline;
  transition: transform 0.3s ease;
}

.textoProyectos:hover {
  /* text-shadow: 0rem 0rem 0.5rem rgb(72, 255, 0); */
  transform: scale(1.2);
  cursor: pointer;
}

.linProy1 {
  background-color: white;
  width: 7rem;
  height: 0.4rem;
  border-radius: 0.5rem 0rem 1rem 0rem;
}

.linProy2 {
  background-color: white;
  width: 0.4rem;
  height: 7rem;
  border-radius: 0rem 0rem 1rem 0rem;
}

.contLinText {
  display: flex;
  flex-direction: row;
}

.lista {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.contLinks {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}

.botonDescarga {
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.4rem;
  filter: invert() opacity(50%);
  margin-top: 0.5rem;
  margin-right: 0.4rem;
  transition: transform 0.3s ease;
  font-family: monospace;
}

.botonDescarga:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.logoGit {
  width: 3rem;
  height: 3rem;
  filter: invert() opacity(50%);
  margin: -1mm;
  padding-left: 0.3rem;
  transition: transform 0.3s ease;
}

.logoGit:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.logoLinke {
  width: 2.5rem;
  height: 2.5rem;
  padding-left: 0.4rem;
  filter: invert() opacity(80%);
  transition: transform 0.3s ease;
}

.logoLinke:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.logoWhat {
  width: 3.2rem;
  height: 3.2rem;
  padding-left: 0.3rem;
  margin: -0.5mm;
  filter: invert() opacity(50%);
  transition: transform 0.3s ease;
}

.logoWhat:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.logoGmail {
  width: 2rem;
  height: 2rem;
  padding-left: 0.5rem;
  margin: 1.5mm;
  filter: invert() opacity(50%);
  transition: transform 0.3s ease;
}

.logoGmail:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.video-fondoR {
  display: none;
}

@media screen and (max-width: 360px) {
  .contenedor {
    overflow-x: hidden;
  }

  .video-fondo {
    display: none;
  }

  .video-fondoR {
    display: flex;
    opacity: 10%;
    height: 55rem;
    width: 25rem;
    object-fit: cover;
    overflow-y: auto;
  }

  .contTextos {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50rem;
    width: 22rem;
    margin-top: 5rem;
  }

  .texto1 {
    margin-top: -4rem;
    margin-bottom: 6rem;
    font-size: 300%;
  }

  .contLineas {
    display: none;
  }

  .contLinks {
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

  .parrafo {
    font-size: 10px;
    flex-direction: column;
    justify-content: start;
    width: 20rem;
    height: 40rem;
    margin-top: 10rem;
  }

  .texto2 {
    padding: 0rem;
  }

  .proyectos {
    justify-content: center;
    margin-left: 0rem;
    align-items: start;

    height: 15rem;
    width: 20rem;
    margin-top: -2rem;
  }

  .lineaInter {
    background-color: white;
    width: 20rem;
    height: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
  }

  .lineaParrafo {
    display: none;
  }

  .logoGit {
    padding-left: 0rem;
  }

  .logoGmail {
    padding-left: 0rem;
  }

  .logoLinke {
    padding-left: 0rem;
  }

  .logoWhat {
    padding-left: 0rem;
  }
}
