.app{
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  overflow: hidden;
  margin: -1ch;
  background-color: rgb(10, 12, 40);
  
}

.app video {
  width: max-content;
  object-fit: cover;
  opacity: 10%;
}
